body {
	font-family: Roboto, sans-serif;
}
.navback {
	width: 100%;
	background-color: #E9BE52;
	margin-bottom: 1em;
}
nav {
	font-size: 22px;
	font-weight: bold;
	margin-top: 1em;
}
nav p {
	font-size: 14px;
	font-weight: normal;
	margin: 10px 0px 1em 0px;
}
.img-response {
	max-width: 100%;
	height: auto;
}
.whitebox {
	border: 1px solid lightgrey;
	padding-top: 0;
	height: auto;
	margin-top: 1em;
}